/* Struktura karty rejestracji */
.register-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Opcje rejestracji */
.register-options {
  margin-top: 20px;
}

.register-options a {
  color: #007bff;
  text-decoration: none;
}

.register-options a:hover {
  text-decoration: underline;
}
