<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styl Życia - Ćwiczenia Fizyczne</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <header>
        <h1><a href="home" class="title-link">Styl Życia - Ćwiczenia Fizyczne</a></h1>
    </header>

<nav>
    <ul>
        <li><a href="dashboard">Formularz Ćwiczeń</a></li>
        <li><a href="history">Historia Ćwiczeń</a></li>
        <li><a href="logout">Wyloguj się</a></li>
    </ul>
</nav>
<div class="login-message">
{% for mesg in get_flashed_messages() %}
    <h1>{{ mesg }}</h1>
{% endfor %}
</div>
<div class="content">
    <section id="form">
        <h2>Dane użytkownika</h2>
        <form class="form-grid">
            <div class="form-item">
              <label for="weight">Waga (kg):</label>
              <input type="number" id="weight" name="weight" required>
            </div>
            <div class="form-item">
              <label for="height">Wzrost (cm):</label>
              <input type="number" id="height" name="height" required>
            </div>
            <div class="form-item">
              <label for="age">Wiek (lata):</label>
              <input type="number" id="age" name="age" required>
            </div>
            <div class="form-item">
              <label for="intensity">Intensywność treningu:</label>
              <select id="intensity" name="intensity" required>
                <option value="low">Niska</option>
                <option value="medium">Średnia</option>
                <option value="high">Wysoka</option>
              </select>
            </div>
            <div class="form-submit">
              <button type="submit">Wyślij</button>
            </div>
          </form>
         
    </section>
    <section id="formularz">
        <h2>Formularz Ćwiczeń</h2>
        <form method="post" action="process_workout">
            <label for="input_workout">Napisz, co dzisiaj robiłeś:</label><br>
            <textarea id="input_workout" name="input_workout" rows="6" cols="50"></textarea><br><br>
            <input type="submit" value="Zapisz" name="zapisz">
        </form> 
    </section>

    <div class="suggestion">
        {% if suggestion %}
        <p>{{ suggestion }}</p>
    {% endif %}
    </div>
</body>
</html>
